html {
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.smooth-scroll {
  width: 100vw;
}
#scroll-content {
  position: relative;
}
.bg-modal {
  background-color: rgba($color: #000000, $alpha: 0.8);
}

sup {
  vertical-align: super;
  font-size: 0.7em;
  margin-right: 5px;
}

textarea {
  word-wrap: break-word;
}

.d-none {
  display: none !important;
}
