wp-config.php
.DS_Store

wp-content/uploads
wp-content/languages
wp-content/db.php

# VAGRANT
.vagrant/

# IDE
/nbproject/
.idea/*

# Composer
wp-content/themes/villa-camboa-website/composer.phar

# Project
wp-content/themes/villa-camboa-website/.sass-cache
wp-content/themes/villa-camboa-website/assets/dist/
wp-content/themes/villa-camboa-website/bower_components/
wp-content/themes/villa-camboa-website/node_modules/
wp-content/themes/villa-camboa-website/yarn-error.log
wp-content/themes/villa-camboa-website/_RESSOURCES/

# Arquivos do WSL
*.Zone.Identifier
*:Zone.Identifier
**/*:[Zz]one.Identifier

# Versionamento de build
wp-content/themes/villa-camboa-website/assets_version.php