// Global
@import './global';

//Templates Section
@import './templates/';

// Utils
@import './utils';

// Base
@import './base/base';

@import 'pages/home/home';

@import "pages/lever-family-office";

@import "pages/lever-real-state";


// Não incluir pages diretamente no main.css. Deverá ser puxada em cada página utilizando enqueue_style(), puxando da pasta dist
// @import "./pages"
